In [12]:
import pandas as pd
url = 'https://raw.githubusercontent.com/sankhadeepriju/Towards-Python-Data-Analysis/main/Credit-card-transactions-India-Simple/Credit-card-transactions-India-Simple.csv'
df = pd.read_csv(url,index_col=0,parse_dates=[0])
df

                        City       Date  Card Type Exp Type Gender  Amount
index
0               Delhi, India  29-Oct-14       Gold    Bills      F   82475
1      Greater Mumbai, India  22-Aug-14   Platinum    Bills      F   32555
2           Bengaluru, India  27-Aug-14     Silver    Bills      F  101738
3      Greater Mumbai, India  12-Apr-14  Signature    Bills      F  123424
4           Bengaluru, India  05-May-15       Gold    Bills      F  171574
...                      ...        ...        ...      ...    ...     ...
26047         Kolkata, India  22-Jun-14     Silver   Travel      F  128191
26048            Pune, India  03-Aug-14  Signature   Travel      M  246316
26049       Hyderabad, India  16-Jan-15     Silver   Travel      M  265019
26050          Kanpur, India  14-Sep-14     Silver   Travel      M   88174
26051       Hyderabad, India  19-Oct-13  Signature    Bills      M  184410

[26052 rows x 6 columns]